.todoShow{
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
}

.message{
    margin:4px;
    padding: 2px 10px;
    background-color: #F8D7DA;
    border: 1px solid pink;
    border-radius: 2px;
    color: #842029;
}