.todoShow{
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
}

.message{
    margin:4px;
    padding: 2px 10px;
    border-radius: 2px;
}


.todoShow{
    -ms-overflow-style: none;
}
.todoShow::-webkit-scrollbar {
    display: none;
}
.datepicker{
    z-index: 99 !important;
}

.green2{
    background-Color:#d0f0c0;
    border: 1px solid rgb(2, 155, 2);
    color: green;
}
.red2{
    background-Color:linen;
    border: 1px solid red;
    color: red;

}
.yellow2{
    background-Color:#ffffe0;
    border: 1px solid rgb(172, 172, 4);
    color: darkgoldenrod;
}